*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

div.container{
    gap: 15px;
}

.py-5{
    padding: 5px;
}
/* Spaziatura */

header{
    background-color: #ff6900;
    color: white;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.category li{
    list-style: none;
    flex-direction: row;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 300;
}

.icons{
    color: white;
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.d-flex{
    display: flex;
}

.logo{
    width:10%;
    padding:12px;
}

li{
    list-style-type: none;
    flex-direction: row;
    padding: 0px 10px;
    font-size: 14px;
}

/* Main */

main{
    padding: 100px;
}

.col-33{
    width: 32%;
}



.card{
    width: 100%;
    position: relative;
}

.card img{
    max-width: 100%;
}



.hearth{
    padding: 5px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    width: 35px;
}



.price{
    color:red;
    font-size: 0.6em;
    font-weight: 800;
}

.ex-price{
    font-size: 0.6em;
    text-decoration: line-through;
    font-weight: 600;
}

.label{
    position: absolute;
    color: white;
    bottom: 35px;
    left: 0;
    font-size: 10px;
}

.description{
    font-size: 1em;
}

.marca{
    font-size: 0.6em;
}

/* Footer */

footer{
    background-color: #1a1a1a;
    padding: 10px;
    color: #fff;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

/* ALL BG */

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.box{
    width: 100%;
    padding: 5px 0;
}

/* Utility */

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.inline-block{
    display: inline-block;
}

.align-left{
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.align-right{
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icon-social{
    margin: 0 5px;
}

a{
    text-decoration: none;
    color: white;
}

/* Hover */

.hover-img:hover{
    opacity:1;
}

