*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* Spaziatura */

header{
    background-color: #ff6900;
    color: white;
    width: 100%;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.category li{
    list-style: none;
    flex-direction: row;
    padding: 0 10px;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

.justify-content{
    justify-content: space-between;
}

.icons{
    color: white;
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.d-flex{
    display: flex;
}

.logo{
    width:10%;
    padding:12px;
}

li{
    list-style-type: none;
    flex-direction: row;
    padding: 0px 10px;
    font-size: 14px;
}

/* Main */

main{
    padding: 100px;
}

.h-800{
    height: 800px;
}

.h-300{
    height: 300px;
}

.border{
    border: 1px solid black;
}

.col-33{
    width: 33%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.card{
    width: 100%;
}

.card img{
    max-width: 100%;
}

/* ALL BG */

.bgred{
    background-color: red;
}

.bgsilver{
    background-color: silver;
}